.gold .codeColumn input{
    border: 1px solid #E6294B !important;
    box-shadow: 0 2px 0 0 #E6294B !important;
    background-color: #fff !important;
}
   
.green .coverageColumn input{
    border: 1px solid #E6294B !important;
    box-shadow: 0 2px 0 0 #E6294B !important;
    background-color: #fff !important;
  }

.red .carrierColumn input{
    border: 1px solid #E6294B !important;
    box-shadow: 0 2px 0 0 #E6294B !important;
    background-color: #fff !important;
  }