<main appGridlayout class="internalLanding-page" [class.internal-user]="_srvAuth.Profile.ContrID > 0" [hidden]="hidePage">
    <div class="outer-block">
        <div class="inner-block">
            <section class="top-section">
                <app-header></app-header>
                <app-page-title [pageName]="pageContent?.Credentialing_Information.Credentialing_Information" [comments]="_srvCredential.crComments"></app-page-title>
            </section>
            <form class="k-form-inline h-100">
                <section class="middle-section">
                    <div class="white-block">
                        <div class="scrollable-content-wrapper credentialing-tabs" #commentBlock max-height="1490" min-Height="621">
                            <div class="scrollable-content">
                                <section class="white-block">
                                    <section class="grid-top-bar">
                                        <div>
                                            <h2>{{ pageContent.Credit_Information.Viewing }} ({{ loginDetails[0]?.ContrID }}) {{ loginDetails[0]?.CompanyName }}</h2>
                                        </div>
                                    </section>
                                    <kendo-tabstrip tabAlignment="center" (tabSelect)="onTabSelect($event)">
                                        <kendo-tabstrip-tab *ngFor="let tab of tabs; let i = index" [title]="tab?.CredentialingMetricGroupTitle" [selected]="tab.CredentialingMetricGroupID == true">
                                            <ng-template kendoTabContent>
                                                <app-insurance
                                                    (Comments)="receivedComments($event)"
                                                    *ngIf="selectedTab === 1"
                                                    [pageSize]="pageSize"
                                                    [containerRef]="containerRef"
                                                    [pageObj]="pageObj"
                                                    [readonlyUserAccess]="readonlyUserAccess"
                                                ></app-insurance>
                                                <app-certificates
                                                    *ngIf="selectedTab === 2 && loggedInUserType === 'Internal'"
                                                    [pageObj]="pageObj"
                                                    [pageSize]="pageSize"
                                                   
                                                    [containerRef]="containerRef"
                                                ></app-certificates>
                                                <app-training *ngIf="selectedTab === 3" [containerRef]="containerRef" [pageSize]="pageSize" [pageObj]="pageObj" > </app-training>
                                                <app-technical *ngIf="selectedTab === 4" [containerRef]="containerRef" [pageSize]="pageSize" [pageObj]="pageObj" ></app-technical>
                                                <app-licenses
                                                *ngIf="selectedTab === 5 || (selectedTab === 2 && loggedInUserType != 'Internal')"
                                                [pageObj]="pageObj"
                                                [pageSize]="pageSize"
                                                [containerRef]="containerRef"
                                                [readonlyUserAccess]="readonlyUserAccess"
                                            ></app-licenses>
                                                <app-additional
                                                    *ngIf="selectedTab === 6"
                                                    [pageSize]="pageSize"
                                                    [pageObj]="pageObj"
                                                  
                                                    [containerRef]="containerRef"
                                                ></app-additional>
                                                <div *ngIf="selectedTab > 6">No Records for {{ tab?.CredentialingMetricGroupTitle }}</div>
                                            </ng-template>
                                        </kendo-tabstrip-tab>
                                    </kendo-tabstrip>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="bottom-section">
                    <section class="action-buttons" *ngIf="_srvAuth.Profile.EventName !== 'No Event' && loggedInUserType !== 'Internal'">
                        <button kendoButton type="button" (click)="onBack()">
                            {{ pageContent.Surge_Info.Back }}
                        </button>
                        <button kendoButton type="button" (click)="SaveNext()" [primary]="true">
                            {{ pageContent.Surge_Info.Save_Next }}
                        </button>
                    </section>
                </section>
            </form>
        </div>
    </div>
</main>
<ng-container #container></ng-container>
