input.err, kendo-maskedtextbox.err input, .k-autocomplete.err .k-searchbar .k-input, input.ng-invalid:not(.ng-untouched) {
    box-shadow: 0 2px 0 0 #e6294b !important;
    border: 1px solid #E6294B !important;
    background-color: #fff !important;
}