// -----------------------------------------------------------------------------
// This file contains all styles related to Credentialing Page
// -----------------------------------------------------------------------------
.sub-title {
    padding-bottom: 0;
    @include Max($MD-P) {
        padding: 10px 10px 0;
    }
}
.credentialing-tabs {
    // >.scrollable-content {
    //     height:calc(100% - 20px);
    //     max-height:calc(100% - 20px);
    // }

    > .scrollable-content {
        > .scroll-inner {
            height: 100%;
            > .white-block {
                height: 100%;
            }
        }
    }
    .k-tabstrip {
        height: calc(100% - 45px);

        > .k-content {
            height: calc(100% - 45px);

            .scrollable-content {
                padding: 2rem;

                .scroll-inner {
                    .grid-wrapper {
                        @include iehack() {
                            margin-bottom: 2rem;
                        }
                    }
                }
            }
            //padding: 2rem !important;
            //@include Max($MD-P) {
            //     padding: 10px !important;
            // }
            > .grid-wrapper {
                height: 100%;
            }
        }
    }

    .k-grid-save-command {
        text-indent: 9999px;
        overflow: hidden;
        @include bg('ico-refresh.svg', '', '', 12px);
        background-position: 4px 4px;
        margin-left: 2px !important;
        &:hover {
            @include bg('ico-refresh.svg', '', '', 12px);
        }
    }
    .k-grid-cancel-command {
        text-indent: 9999px;
        overflow: hidden;
        background-size: 9px;
        background-image: url(../images/ico-cancel.svg) !important;
        background-position: 5px 3px;
        background-repeat: no-repeat;
    }
    .ico-edit {
        i {
            background-size: 14px !important;
            top: 0px !important;
        }
    }
    .ico-delete {
        i {
            background-size: 11px !important;
            left: 1px;
            top: 0.65px;
        }
    }

    @include Max($M-XL) {
        .grid-top-bar {
            margin-bottom: 0;
        }
    }
}
.credential-grid {
    .tbl-card-title {
        @media all and (max-width: 900px) {
            strong {
                display: block;
            }
        }
    }
    dd.action {
        text-align: left;
        .ico-save {
            i {
                background-image: url(../images/ico-save.svg);
            }
        }
    }
    .edit-field {
        input {
            margin-bottom: 0 !important;
            line-height: 3rem !important;
            height: 3rem !important;
            box-shadow: none !important;
            padding: 0 1rem !important;
            font-size: 11px !important;
        }
        .k-autocomplete,
        > div {
            margin-bottom: 2px !important;
            display: flex;
            align-items: center;
            height: 100%;
            box-shadow: none !important;
            .k-clear-value {
                top: 5.5px;
                right: 6px;
                display: block;
            }
        }
    }
    .action {
        text-align: center;
        button {
            cursor: pointer;
            background-color: transparent;
            border: none;
            width: 18px;
            height: 20px;
            overflow: hidden;

            display: block;
            i {
                left: 0;
            }

            @include Min($D-S) {
                margin: 0 auto;
            }
        }
    }
    @include Min($D-S) {
        .k-textbox,
        .k-input {
            line-height: inherit !important;
            margin: 0 !important;
            background-color: transparent !important;
            border: none !important;
            box-shadow: none !important;
            @include Min($D-S) {
                &:hover {
                    color: $c-White !important;
                }
            }
        }
    }
    .edit-col-input {
        padding: 0;
        .k-autocomplete {
            margin-bottom: 0;
            background-color: transparent;
        }
        input {
            text-align: left;
        }
    }
    .coverageAmt {
        input {
            text-align: right;
        }
    }

    .licenseNo {
        input {
            text-align: left;
        }
    }
    .due {
        text-align: center;
    }
    .editDate {
        .k-datepicker {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            .k-dateinput,
            .k-input {
                padding: 0;
                // text-align: center;
                // margin-left: -20px;
            }
            .k-picker-wrap:hover,
            .k-picker-wrap.k-state-focused,
            .k-picker-wrap.k-state-active {
                background-color: transparent;
            }
            &:hover {
                background-color: transparent;
            }
            @include Max($D-S) {
                width: 85px;
            }
        }
    }
    @include Min($D-S) {
        tr {
            &:hover {
                .k-textbox,
                .k-input {
                    color: $c-White !important;
                    line-height: inherit;
                }
                .k-i-calendar::before {
                    color: $c-White;
                }
                .ico-save i {
                    background-image: url(../images/ico-save-w.svg);
                }
                .k-autocomplete .k-clear-value {
                    color: $c-White;
                }
            }
        }
    }
    // @media all and (max-width:900px) and (min-width:681px) {
    //     .k-grid-content .k-grid-table tbody tr td {
    //         padding-top: 74px !important;
    //         .tbl-card-title {
    //             margin-top: -72px !important;
    //         }
    //     }
    // }
    // @media all and (max-width:680px) {
    //     .k-grid-content .k-grid-table tbody tr td {
    //         padding-top: 54px !important;
    //         .tbl-card-title {
    //             margin-top: -54px !important;
    //         }
    //     }
    // }
}

.insurance-grid {
    @include respond-to-Min-Max(1367px, 901px) {
        .k-pager-wrap {
            top: -12px;
        }
    }
}

.license-grid {
    @include respond-to-Min-Max(1100px, 901px) {
        .k-pager-wrap {
            top: -12px;
        }
    }
}

.technical-grid {
    @include respond-to-Min-Max(928px, 901px) {
        .k-pager-wrap {
            top: -12px;
        }
    }
}
.training-grid {
    @include respond-to-Min-Max(1100px, 901px) {
        .k-pager-wrap {
            top: -12px;
        }
    }
}
.certificate-grid {
    @include respond-to-Min-Max(1226px, 901px) {
        .k-pager-wrap {
            top: -12px;
        }
    }
}
.view-training {
    .d-table {
        //border-right:none;
        border-left: none;
        border-right: none;
        @include Max($G-L) {
            border: 0 !important;
        }
        .d-col {
            position: relative;
            .k-dropdown {
                margin: 0 0 3px;
            }

            @include Max($G-L) {
                &:before {
                    content: '';
                    padding: 5px;
                    top: 5px;
                    left: 5px;
                    display: block;
                    position: absolute;
                    width: 130px;
                    bottom: 5px;
                    background-color: $c-Blk-02;
                    font-size: 12px;
                    font-weight: 600;
                }
            }

            &:first-child {
                flex: 0 0 30%;
                max-width: 30%;

                // background-color:$c-Blk-02;

                @include Max($G-L) {
                    &:before {
                        content: 'Contractor Employee';
                    }
                }

                + .d-col {
                    flex: 0 0 25%;
                    max-width: 25%;

                    @include Max($G-L) {
                        &:before {
                            content: 'Title';
                        }
                    }

                    span {
                        padding-top: 1rem;
                        display: block;
                    }
                    + .d-col {
                        flex: 0 0 30%;
                        max-width: 30%;

                        @include Max($G-L) {
                            &:before {
                                content: 'Date Completed';
                            }
                        }

                        + .d-col {
                            flex: 0 0 15%;
                            max-width: 15%;
                            @include Max($G-L) {
                                &:before {
                                    content: 'Action';
                                }
                                border-right: 1px solid #d7d2cb;
                            }

                            div {
                                text-align: center;
                                @include Max($iPh-L) {
                                    button {
                                        margin: 0 1rem 0.5rem 0;
                                    }
                                }
                            }

                            button {
                                width: 30px;
                                height: 30px;
                                background-color: $c-White;
                                color: $c-Blk;
                                border: 1px solid $c-Bdr-L;
                                border-radius: 2px;
                                margin: 0 5px 0 0;
                                cursor: pointer;

                                &.add {
                                    color: $c-D-Blue;
                                }

                                &.remove {
                                    color: $c-Rem;
                                }

                                &:hover {
                                    background-color: rgba($c-L-Gry, 0.3);
                                }
                            }
                            @extend %d-flx;

                            align-items: center;
                            justify-content: center;

                            @include Max($G-L) {
                                justify-content: flex-start;
                            }
                        }
                    }
                }
            }
        }

        .d-table-hd {
            border-left: 1px solid $c-Bdr-L;
            border-right: 1px solid $c-Bdr-L;
            @include Max($G-L) {
                display: none;
            }
        }
    }
    .d-table-content {
        max-height: 300px;

        .d-table-row {
            border-left: 1px solid $c-Bdr-L;
            border-right: 1px solid $c-Bdr-L;
            @include Max($G-L) {
                display: flex;
                flex-direction: column;
                border: 1px solid $c-Bdr-L;
                margin-bottom: 2rem;
                border-bottom: 0;
            }
            .d-col {
                @include Max($G-L) {
                    padding-left: 160px;
                    border-right: 0 !important;
                    min-height: 40px;
                    flex: 0 0 100% !important;
                    max-width: 100% !important;
                }
            }
        }
    }

    .scrollable-content {
        width: 100%;

        @include iehack() {
            max-height: 31rem;
        }

        @include Max($MD-P) {
            overflow-y: auto;
            width: calc(100% + 12px);
        }
    }

    @include Max($MD-P) {
        overflow: hidden;
    }
}

.mobile {
    @include Max($MD-P) {
        .view-training .scrollable-content {
            width: 100% !important;
        }
    }
}

.insurance-grid {
    @include respond-to-Min-Max(1364px, 900px) {
        .k-pager-wrap {
            top: -11px;
        }
    }
}

.certificate-grid {
    @include respond-to-Min-Max(1190px, 900px) {
        .k-pager-wrap {
            top: -11px;
        }
    }
}

.training-grid {
    @include respond-to-Min-Max(1190px, 900px) {
        .k-pager-wrap {
            top: -11px;
        }
    }
}

.license-grid {
    @include respond-to-Min-Max(1388px, 900px) {
        .k-pager-wrap {
            top: -11px;
        }
    }
}

.additonal-grid {
    @include respond-to-Min-Max(1305px, 900px) {
        .k-pager-wrap {
            top: -11px;
        }
    }
    .k-combobox {
        .k-clear-value {
            right: 35px !important;

            @include Max($D-S) {
                top: 5px !important;
            }
            @include Max($M-L) {
                top: 4px !important;
            }
        }

        .k-searchbar {
            .k-input {
                &:focus,
                &:hover {
                    padding-right: 3rem;
                }
            }
        }
    }
    tr:hover {
        .k-searchbar {
            .k-input {
                color: $c-D-Gry !important;
            }
        }
    }
}
